body,
html {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body p {
    font-size: 16px;
    line-height: 1.25em;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 375px;

}

.icon-text-container span {
    margin: 5px 0 0 30px;
}

.icon-text-container p {
    text-indent: -3.5em;
    margin-left: 30px;
}

.form-content {
    margin: 0 2em;
}

.email-signup {
    display: inline-flex;
    flex-direction: column;
    margin-top: 25px;
}

.email {
    font-weight: 700;
}

#email-address {
    padding: 15px 150px 15px 8px;
    border-radius: 10px;
    margin: 10px 0;
    border: solid 1px;

}

input:invalid {
    border: 1px solid red;
    background-color: #f2dede;
}

.submit-btn {
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: hsl(234, 29%, 20%);
    color: #FFF;
}

.submit-btn:hover,
.submit-btn:focus {
    background-image: linear-gradient(to right, #f7819f, #f7a981);
    cursor: pointer;
}

.bold {
    font-weight: 700;
    text-decoration: underline;
}

.success-message {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    margin: 200px 25px;
  
    @media (min-width: 500px) {
        max-width: 800px; /* Increase max-width for larger screens */
        margin: 0 auto;
        font-size: 1.2rem; /* Increase font size for larger screens */
    }
  }
  
  .success-message input {
    padding: 15px;
    margin-top: 20px;
  }
  
  .success-message p {
    line-height: 2em;
  }

  .error-message {
    color: red;
    font-size: 0.75em;
  }

@media (min-width: 500px) {
    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20vh 20vw 20vh 0;
    }

    .form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        border-radius: 10px;

    }

    .form-img {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        src: url('/assets/images/illustration-sign-up-desktop.svg');
    }
}